@import "font.css";

:root{
    --scroll-thumb:#444;
    --scroll-background:#ddd;

    --white:#fff;
    --border-color:#efefef;
    --menu-bg:#fafafa;
    --hover-bg:#f0f0f0;
    --active-bg:#e8e8e8;
    --send-bg:#f0f0f0;
    --send-active-bg:#1e1e1e;

    --text-color45:#454545;
    --text-color97:#979797;
    --fs32:32px;
    --fs16:16px;
    --fs14:14px;

    --header-height:60px;
    --sidebar-width:280px;
    --sidebar-closed-width:60px;
    --sidebar-top-height:90px;
    --icon-size:20px;
}

*{color:inherit;font-family:inherit;font-size:inherit;padding:0;margin:0;box-sizing:border-box;}
*::-webkit-scrollbar{width:10px;}
*::-webkit-scrollbar-thumb{background:var(--scroll-thumb);background-clip:padding-box;border:2px solid transparent;border-radius:4px;}
*::-webkit-scrollbar-track{background:var(--scroll-background);border-radius:4px;}
a{text-decoration:none;}
ul{list-style:none;}
img{max-width:100%;}
i{display:flex;cursor:default;}

input{width:100%;background:none;color:var(--text-color45);font-size:var(--fs16);border:none;outline:none;}
input::placeholder{color:var(--text-color97);}

.hide, .btn-text-hide .btn-text{opacity:0;pointer-events:none;}

/* Buttons */
.btn-wrap{display:flex;align-items:center;gap:8px;}
.btn-wrap.center{justify-content:center;}

button, .btn{display:flex;align-items:center;gap:8px;background:none;border:none;border-radius:8px;cursor:pointer;position:relative;}
.btn:hover{background-color:var(--hover-bg);}
.btn.left{justify-content:flex-start;}
.btn.center{justify-content:center;}
.btn.right{justify-content:flex-end;}
.btn.between{justify-content:space-between;}
.btn.contained{width:100%;flex:1;}
.btn .btn-text{white-space:nowrap;transition:opacity 200ms ease-in-out;}

.btn.text-view{font-size:var(--fs14);font-weight:500;border:2px solid var(--border-color);border-radius:20px;padding:8px 20px;}
.btn.text-view:hover{background:none;}
.btn.new-chat{height:42px;color:var(--text-color45);padding:0 12px;}

.btn.icon{padding:8px;}
.btn.icon.no-padding{padding:0;}
.btn.icon .btn-icon{min-width:var(--icon-size);width:var(--icon-size);height:var(--icon-size);transition:background-color 100ms ease-in-out;}

.btn .menu{background:url("../img/icon/menu.svg") no-repeat center/100%;}
.btn .write{background:url("../img/icon/write.svg") no-repeat center/100%;}
.btn .more{background:url("../img/icon/more.svg") no-repeat center/100%;}
.btn .edit{background:url("../img/icon/edit.svg") no-repeat center/100%;}
.btn .remove{background:url("../img/icon/remove.svg") no-repeat center/100%;}
.btn .plus{background:url("../img/icon/plus.svg") no-repeat center/100%;}
.btn.send{background:var(--send-bg);border-radius:50%;transition:background 200ms ease-in-out;}
.btn .send{background:url("../img/icon/send.svg") no-repeat center/100%;transition:background 200ms ease-in-out;}
.btn.send.active{background:var(--send-active-bg);}
.btn.send.active .send{background:url("../img/icon/send_white.svg") no-repeat center/100%;}


#root{width:100%;height:100vh;font-family:"Pretendard", sans-serif;font-size:var(--fs16);}

.chat-bot{width:100%;height:100%;display:flex;}
.chat-bot .contents{flex:1;position:relative;}
.chat-bot .sidebar{width:var(--sidebar-width);height:100%;background:var(--menu-bg);padding:16px 16px 4px;transition:width 200ms ease-in-out, padding 200ms ease-in-out;}
.chat-bot .sidebar.close{width:var(--sidebar-closed-width);padding:16px 12px 4px;}
.chat-bot .sidebar .top{height:var(--sidebar-top-height);}
.chat-bot .sidebar .new-chat{margin-top:12px;}
.chat-bot header{width:100%;height:var(--header-height);display:flex;justify-content:space-between;align-items:center;padding:0 16px;}
.chat-bot .chat-box{width:100%;height:calc(100% - var(--header-height));overflow-y:auto;padding:16px;}
.chat-bot .start-chat{width:100%;font-size:var(--fs32);font-weight:600;text-align:center;margin:34vh 0 40px;}
.chat-bot .chat-input-box{max-width:768px;width:100%;height:56px;display:flex;align-items:center;border:1px solid var(--border-color);border-radius:100px;padding:0 10px;box-shadow: 0 4px 14px 0 rgba(0,0,0,0.05);margin:0 auto;}
.chat-bot .chat-input-box label{flex:1;margin:0 20px 0 8px;}
.history-list{height:calc(100% - (var(--sidebar-top-height) + 20px));margin-top:16px;overflow-y:auto;transition:opacity 200ms ease-in-out;}
.history-list h3{color:var(--text-color97);font-size:var(--fs14);font-weight:600;margin-bottom:8px;}
.history-list li{height:42px;justify-content:space-between;position:relative;padding:0 12px;}
.history-list li > label, .history-list li > p{flex:1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.history-list li > .btn{opacity:0;}
.history-list li > .btn:hover{background:none;}
.history-list li:hover > .btn{opacity:1;}
.history-list li.active{background:var(--active-bg);}

.edit-menu{display:none;width:200px;background:var(--white);border-radius:12px;padding:8px 12px;position:fixed;top:100%;left:80%;z-index:10;box-shadow:0 0 12px 0 rgba(0,0,0,0.12);cursor:default;}
.edit-menu .btn{height:40px;}
.edit-menu .btn + .btn{margin-top:16px;}
.edit-menu .btn + .btn:before{content:"";width:100%;height:1px;background:var(--border-color);position:absolute;top:-8px;left:0;}
.edit-menu.active{display:block;}
